@import "tailwindcss";
@import "../global/styles/fonts.css";

* {
 padding: 0;
 margin: 0;
}

@theme {
    --font-epunda: 'Epunda Sans', sans-serif;
    --font-playfair: 'Playfair Display', serif;
}

